extends base

append window_title
  &mdash;
  = page.title

append content
  .PostDetail
    .PostMeta
      h2.title= page.title
      .meta
        include _partial/article_meta
        +date(page.date)
        +category(page.categories)
    .PostContent 
      != page.content
