.Profile
  .thumb
    img(src="/images/ideyuta.jpg")
  .bio
    h4.name 井出 優太
    p.summary 1988年静岡県生まれ。多摩美術大学大学院 情報デザイン領域 経験デザイン 修了。株式会社カンム所属。
    .social.BtnGroup
      a.btn.f.twitter(href="https://twitter.com/_ideyuta")
        i.znicon-twitter
        span Twitter
      a.btn.f.facebook(href="https://www.facebook.com/XA2007.055")
        i.znicon-facebook
        span Facebook
      a.btn.f.github(href="https://github.com/ideyuta")
        i.znicon-github
        span GitHub
      a.btn.f(href="mailto:ide.yuta@gmail.com")
        i.znicon-mail
        span Mail
