.Header {
  @include border(0 0 1px 0, solid, $gray100);
  @include size(100%, 64px);
  background: #fff;
  position: relative;
  h1 {
    float: left;
    margin: 0;
    padding: 12px;
    img {
      padding: 0;
    }
    span {
      @include typo(24px, #000, 100, 42px);
      letter-spacing: 0.06em;
      padding: 0 0 0 12px;
      vertical-align: top;
    }
  }
  .pageResponse {
    background: #fff;
    padding: 16px 16px 11px 16px;
    position: absolute;
    right: 0;
    a {
      letter-spacing: 0.06em;
      &.tweet {
        color: #00aced;
      }
      &.like {
        color: #305097;
      }
      &.hatebu {
        color: #008fde;
      }
      i {
        padding: 0 1px 0 0;
      }
      img {
        @include size(14px);
        padding: 1px 4px 0 0;
        vertical-align: top;
      }
      span {
        vertical-align: top;
        padding: 0 0 0 4px !important;
      }
    }
  }
}
