.Header {
  @include border(0 0 1px 0, solid, $gray100);
  @include size(100%, 64px);
  h1 {
    float: left;
    margin: 0;
    padding: 12px;
    img {
      padding: 0;
    }
  }
  .pageResponse {
    float: right;
    padding: 16px;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        @include typo(14px, $gray300, 400, 32px);
        float: left;
        letter-spacing: 0.06em;
        padding: 1px 8px 0 8px;
        &.tweet a {
          color: #00aced;
        }
        &.like a {
          color: #305097;
        }
        &.hatebu a {
          color: #008fde;
        }
        a {
          text-decoration: none;
          i {
            padding: 0 1px 0 0;
          }
          img {
            @include size(14px);
            padding: 8px 3px 0 0;
            vertical-align: top;
          }
          span {
            line-height: 32px;
            vertical-align: top;
          }
        }
      }
    }
  }
}
