%Lthumb_X {
  width: 100%;
  overflow: hidden;
  img {
    @include pos(relative, null, 50%);
    @include size(auto);
    max-height: 100%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

%Lthumb_Y {
  overflow: hidden;
  width: 100%;
  img {
    @include pos(relative, 50%);
    @include size(auto);
    max-width: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

%Lthumb_content {
  overflow: hidden;
  position: relative;
  width: 100%;
  .title {
    @include typo(20px, #000, 300, 1.6);
    letter-spacing: .04em;
    margin: .5em 0;
    padding: 4px 0;
  }
  .description {
    @include typo(14px, $gray500, 100, 1.6);
    max-height: 100px;
    overflow: hidden;
    letter-spacing: .04em;
    margin: 0;
    padding: 0 0 8px 0;
  }
}



.Lthumb {

  &.L1 {
    .thumb {
      @include size(62%, 481px);
      float: left;
      overflow: hidden;
      img {
        @include pos(relative, 50%);
        @include size(auto);
        max-width: 100%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
    .content {
      @include size(38%, 481px);
      float: right;
      > .inner {
        padding: 16px;
        position: absolute;
        bottom: 0;
      }
      .title {
        @include typo(32px, #000, 300, 1.6);
        letter-spacing: .04em;
        padding: 16px 0;
      }
      .description {
        @include typo(16px, $gray500, 100, 1.6);
        letter-spacing: .04em;
        padding: 0 0 16px 0;
      }
    }
  }
  
  &.L2,
  &.L3,
  &.L4 {
    .thumb {
      @extend %Lthumb_Y;
      height: 180px;
    }
    .content {
      @extend %Lthumb_content;
      height: 180px;
    }
  }
  
  &.L5 {
    .thumb {
      @extend %Lthumb_Y;
      height: 400px;
    }
    .content {
      @extend %Lthumb_content;
      height: 200px;
    }
  }

  &.L6 {
    .thumb {
      @extend %Lthumb_X;
      height: 400px;
    }
    .content {
      @extend %Lthumb_content;
      height: 200px;
    }
  }


  &.L7,
  &.L8 {
    .thumb {
      @extend %Lthumb_Y;
      height: 150px;
    }
    .content {
      @extend %Lthumb_content;
      height: 150px;
    }
  }

}
