.Meta {
  @include size(100%, 30px);
  background: #fff;
  .date {
    float: left;
    p {
      @include typo(12px, $gray300, 200, 30px);
      letter-spacing: 0.12em;
      margin: 0;
    }
  }
  .categories {
    float: left;
    padding: 0 8px;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        float: left;
        padding: 0 8px;
        a {
          @include typo(12px, $gray300, 200, 30px);
          letter-spacing: 0.12em;
          text-decoration: none;
          &:hover {
            color: $gray500;
          }
        }
      }
    }
  }
}

@include media(phone) {
  .Meta {
    padding: 0 2%;
    width: 96%;
  }
}
