.Meta {
  @include size(100%, 30px);
  @include pos(absolute, null, 0, 0);
  background: $white;
  .date {
    float: left;
    p {
      @include typo(12px, $light-gray, 200, 30px);
      letter-spacing: 0.12em;
    }
  }
  .categories {
    float: left;
    padding: 0 8px;
    ul {
      li {
        float: left;
        padding: 0 8px;
        a {
          @include typo(12px, $light-gray, 200, 30px);
          letter-spacing: 0.12em;
        }
      }
    }
  }
}
