@charset "UTF-8";

@import "../zenigame/src/zenigame";

//-------------------------------
// Base
//-------------------------------

// リンク要素タップ時に色変更しない
* { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
// iOS でリンク長押ししてもポップアップメニューを出さない
// * { -webkit-touch-callout: none; }
// input以外選択できないようにする
// :not(input){ -webkit-user-select: none; }
html, body {
  @include size(100%, auto);
  @include minsize(100%);
  @include typo($default-font-size, $gray900, 300, $default-line-height);
  text-transform: none;
  -webkit-text-size-adjust: 100%;
  font-family:'Noto Sans Japanese', $font;
  background: #fff;
}

a {
  &:link { color: $blue500; }
  &:visited { color: $blue700; }
  &:hover { color: $blue900; }
  &:active { color: $blue900; }
}


//-------------------------------
// Components
//-------------------------------

@import "components/pagination";
@import "components/meta";
@import "components/post";
@import "components/posts";
@import "components/postDetail";

@import "components/layout";
@import "components/Ltext";
@import "components/Lphoto";
@import "components/Lthumb";
@import "components/syntax";
